// src/sass/variables.sass

// Globals

$subheader-item-single-height:10px;
$subheader-left-padding:0px;
$subheader-right-padding:0px;
$text-field-append-prepend-margin:0;
$select-padding-top:0;
$text-field-padding-top:0;

